@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    padding-top: calc(f.rem(30) + 5vh);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    z-index: 49;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    transition: v.$transition;

    @media(min-width: 370px) {
        padding-bottom: calc(f.rem(30) + 5vh);        
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }


    & [data-img-icon] {
        color: white;
        display: block;
    }
    
    &__wrapper {
        max-width: 80%;
        @media (max-width: 370px) {
            width: 70%;
        }
        display: grid;
        grid-template-areas:
            "cross cross cross"
            ". . ."
            "img img img"
            "info left right"
            ". . . ";
        grid-template-rows: auto minmax(1.5rem, 1fr) auto auto minmax(1.5rem, 2fr);
        grid-template-columns: auto repeat(2, 17%);

        @include m.breakpoint(large) {
            grid-template-areas: 
                "cross cross cross"
                ".... img ...."
                "left img right"
                ".... img info";
            grid-template-rows: f.rem(55) repeat(2, 1fr) max-content;
            grid-template-columns:1fr 3fr 1fr;
            column-gap: 2rem;
            row-gap: 1rem;
        }
    }
    &__img-display {
        display: block;
        grid-area: img;
        justify-self: center;  
        max-height: 70vh;    
        @include m.breakpoint(large) {
            // height: 65vh;
            align-self: end;
        }
    }
}

.display-info {
        grid-area: info;
        padding: 1.5rem 0;
        @include m.breakpoint(medium) {
            padding-top: 2rem;
        }
        @include m.breakpoint(large) {
            padding: 0;
        }

    p {
        display: block;
        padding-top: 0.25rem;
        color: white;
        font-size: f.em(13);
    }
    &__title {
        font-weight: 500;
        font-size: f.em(15);
    }
}

.display-btn {
        border: none;
        height: f.rem(24);
        transition: v.$transition;

        &:focus {
            outline: none;
        }

    &__cross-hair-wrapper {
        display: flex;
        justify-content: flex-end; 
        padding-top: 5%;
        grid-area: cross;
        @include m.breakpoint(large) {
            padding-top: 2%;  
        }
    }

    &__cross-hair:hover {
        opacity: v.$opacity-II;
    }

    &__left {
        grid-area: left;
        justify-self: start;
        
        &:hover,
        &:focus {
            transform: translateX(f.rem(-5));
            opacity: v.$opacity-I;
        }
    }

    &__right {
        grid-area: right;
        justify-self: end;
        
        &:hover,
        &:focus {
            transform: translateX(f.rem(5));
            opacity: v.$opacity-I;
        }
    }

    &__right-icon {
        transform: rotate(180deg);
    }

    &__left,
    &__right {     
        margin-top: 1.5rem;    
        height: f.rem(32);
        width: f.rem(26);
        display: grid;
        place-items: center;
        background-color: rgb(122, 122, 122);
        border-radius: 2px;
        @include m.breakpoint(medium) {
            margin-top: 2rem;
        }

    }
}