@use '../abstracts/functions' as f;
@use'../abstracts/mixins' as m;


.thumbnails {
    width:100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(f.rem(150), 1fr));
    grid-template-rows: auto auto;
    gap: f.rem(20);

    @include m.breakpoint(thumbnail-3cols) {
    grid-template-columns:repeat(3, 1fr);
    gap: f.rem(25);
    }

    @include m.breakpoint(xlarge) {
        gap: f.rem(30);
        }

    &__item {
        min-width: f.rem(150);
        min-height: f.rem(150);
        max-width: f.rem(300);
        max-height: f.rem(300);
        width: 100%;
        height: 100%;
        justify-self: center;
    }
    &__caption {
        font-size: 0.75rem;
        text-transform: capitalize;

        @include m.breakpoint(large){
            font-size: 0.9rem;
        }
    }
}