@use '../abstracts/functions' as f;


.thumbnails {
    width:100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(f.rem(150), 1fr));
    grid-template-rows: auto auto;
    gap: f.rem(20);

    &__item {
        min-width: f.rem(150);
        min-height: f.rem(150);
        width: 100%;
        height: 100%;
        background-color: bisque;
        justify-self: center;
    }
}