@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.header {
    padding-top: 0.75rem; 
    background-color: v.$body-bg-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.nav {
    display: flex;
    justify-content: space-between;   
    align-items: baseline; 
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;  
    max-height: f.rem(38);

    @include m.breakpoint(medium) {
        align-items: center; 
    }

    &__logo {
            display: block;
            width: f.rem(30);
            max-width: f.rem(42);

            @include m.breakpoint(medium) {
                width: 6vw;
                margin-left: f.rem(-39.27);
            }

            @include m.breakpoint(large) {
                margin-left: f.rem(14.955);
            }

            @include m.breakpoint(xlarge) {
                width: f.rem(42);
            }

            &-icon {
                width: 100%;
            }
    }

    &__artist {
        font-size: f.rem(18);
        font-weight: 500;
        @include m.breakpoint(medium) {
            order:-1;
        }
    }
    &__list {
        position: fixed;
        top: f.rem(49);
        left: -100%;
        background-color: v.$body-bg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: v.$transition;

        &--active {
            left: 0;
        }

        @include m.breakpoint(large) {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: unset;
        }
    }
    &__item {
        border-bottom: 1px solid #919090;
        width: 100%;
        text-align: center;
        &:first-child {
            border-top: 1px solid black;
            @include m.breakpoint(large) {
                border: none;
            }
        }

        @include m.breakpoint(large) {
            display:inline-block;
            margin-left: 0.75rem;
            width: unset;
            border: none;
        }        
    }

    &__link {
        display: block;
        font-size: 0.85rem;
        font-weight: 500;
        width: 100%;
        height:100%;
        padding: 0.8rem 0;
        transition: border-bottom 250ms ease-in-out;

         &:hover {         
            @include m.breakpoint-down(medium) {
                background-color: #000;
                color: v.$body-bg-color;
            }  
            @include m.breakpoint(large) {
                border-bottom: 2px solid rgb(88, 88, 88);
                padding-bottom: 0.4rem;
            }      
        }
    }
}

.menu {
    @include m.breakpoint(large) {
        display: none;
    }
    &__bar {
        display: block;
        width: f.rem(25);
        height: f.rem(2.5);
        margin: f.rem(6) auto 0;
        transition: all 0.3s ease-in-out;
        background-color: #000;
    }
    &__bar:first-child {
        margin-top: 0;
    }
    &--active {
        .menu__bar:nth-child(2) {
            opacity: 0;
        }
        .menu__bar:nth-child(1) {
            transform: translateY(f.rem(8)) rotate(45deg);
        }
        .menu__bar:nth-child(3) {
            transform: translateY(f.rem(-8)) rotate(-45deg);
        }
    }
}