@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;

body {
    background-color: v.$body-bg-color;
}

.container {
    width: 86vw;
    max-width: f.rem(960);
    margin: 0 auto;
}

.main {
    position: relative;
    top: calc(f.rem(54) + 7vw);
    padding-bottom: calc(f.rem(59.25) + 7vw);
}