@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

body {
    background-color: v.$body-bg-color;
}

.container {
    width: 86vw;
    max-width: f.rem(960);
    margin: 0 auto;
}

.main {
    padding-top: calc(f.rem(54) + 7vw);
    padding-bottom: calc(f.rem(59.25) + 7vw);

    @include m.breakpoint(medium) {
        padding-top: calc(f.rem(54) + 7vh);
        padding-bottom: calc(f.rem(59.25) + 7vh);
    }
    @include m.breakpoint(large) {
        padding-top: calc(f.rem(54) + 5vh);
        padding-bottom: calc(f.rem(59.25) + 5vh);
    }
}

// .main {
//     position: relative;
//     top: calc(f.rem(54) + 7vw);
//     padding-bottom: calc(f.rem(59.25) + 7vw);

//     @include m.breakpoint(medium) {
//         top: calc(f.rem(54) + 7vh);
//         padding-bottom: calc(f.rem(59.25) + 7vh);
//     }
//     @include m.breakpoint(large) {
//         top: calc(f.rem(54) + 5vh);
//         padding-bottom: calc(f.rem(59.25) + 5vh);
//     }
// }